spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://14.63.226.76:9606/ljy_db
    username: ljy_user
    password: "!ljyUser329"

  security:
    user:
      name: user
      password: 1234
    oauth2:
      client:
        registration:
          google:
            client-id: 897513673247-d40vq7h6k93ta0ue53dbfrs9a3hrabfk.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  thymeleaf:
    cache: false
    prefix: classpath:templates/
    suffix: .html

jwt:
  header: Authorization
  secret-key: VlwEyVBsYt9V7zq57TejMnVUyzblYcfPQye08f7MGVA9XkHa
  prefix: Bearer_
  access-time: 120000
  refresh-time: 1814400000

redis:
  host: localhost
  port: 6379

mybatis:
  type-aliases-package: com.adnstyle.myboard.model.domain
  mapper-locations: mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

logging:
  config: classpath:log/logback-spring.xml

---
spring:
  config:
    activate:
      on-profile: local

  file-upload:
    save-dir: /Users/dalnu/upload/
    save-user-dir: /Users/dalnu/upload_profile/
#    save-dir: C:\\upload\
#    save-user-dir: C:\\upload_profile\

server:
  port: 8080
  error:
    whitelabel:
      enabled: false

---
spring:
  config:
    activate:
      on-profile: prod

server:
  port: 8003
  error:
    whitelabel:
      enabled: false

#spring:
#  datasource:
#    driver-class-name: org.mariadb.jdbc.Driver
#    url: jdbc:mariadb://localhost:3306/ljy329s
#    username: root
#    password: '1234'
#
#  security:
#    user:
#      name: user
#      password: 1234
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: 897513673247-d40vq7h6k93ta0ue53dbfrs9a3hrabfk.apps.googleusercontent.com
#            client-secret: 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
#            scope:
#              - email
#              - profile
#
#  file-upload:
#    save-dir: C:\\upload
#
#  servlet:
#    multipart:
#      max-file-size: 50MB
#      max-request-size: 50MB
#  thymeleaf:
#    cache: false
#    prefix: classpath:templates/
#    suffix: .html
#
#logging:
#  config: classpath:log/logback-spring.xml
#
#mybatis:
#  type-aliases-package: com.adnstyle.myboard.model.domain
#  mapper-locations: mapper/*.xml
#  configuration:
#    map-underscore-to-camel-case: true
#
#server:
#  port: 8080
#  error:
#    whitelabel:
#      enabled: false

#jwt:
#  header: Authorization
#  secret-key: VlwEyVBsYt9V7zq57TejMnVUyzblYcfPQye08f7MGVA9XkHa
#  prefix: Bearer_
#  access-time: 120000
#  refresh-time: 1814400000
#
#redis:
#  host: localhost
#  port: 6379



#  create table jy_attach
#  (
#  uuid            varchar(100)                not null comment '저장명',
#  upload_path      varchar(200)                not null comment '저장경로',
#  origin_name      varchar(100)                not null comment '원본명',
#  file_type        varchar(50) default 'Image' null comment '파일타입',
#  bno             bigint                      null comment '게시글번호',
#  del_yn          varchar(1)  default 'N'     not null comment '삭제여부',
#  attBno          int auto_increment
#  primary key comment '첨부파일번호',
#  profile_user_id varchar(100)                null comment '프로필 유저 아이디'
#  )
#  comment '첨부파일 테이블';
#
#  create table jy_board
#  (
#  id            bigint auto_increment comment '식별자'
#  primary key,
#  title         varchar(100)           null comment '제목',
#  content       text                   null comment '내용',
#  del_yn        varchar(1) default 'N' null comment '삭제여부',
#  view_count    int                    null comment '조회수',
#  created_by    varchar(100)           null comment '작성자',
#  created_date  datetime(6)            null comment '작성일',
#  modified_by   varchar(100)           null comment '수정자',
#  modified_date datetime(6)            null comment '수정일',
#  board_type    varchar(20)            not null comment '게시판타입',
#  group_bno     bigint                 null comment '그룹번호'
#  )
#  comment '게시판 테이블';
#
#  create table jy_reply
#  (
#  re_bno           bigint auto_increment comment '리플번호'
#  primary key,
#  re_content       varchar(500)           null comment '댓글내용',
#  re_created_by    varchar(50)            null comment '작성자',
#  re_created_date  datetime               null comment '댓글작성일',
#  re_modified_date datetime               null comment '댓글수정일',
#  board_bno        bigint                 null comment '원글 게시글 번호',
#  re_del_yn        varchar(1) default 'N' null comment '댓글삭제여부',
#  re_depth         int        default 0   null comment '댓글계층',
#  re_order         int        default 0   null comment '댓글정렬',
#  re_group_bno     bigint                 null comment '댓글그룹번호'
#  )
#  comment '댓글 테이블';
#
#  create table jy_user
#  (
#  user_no     bigint auto_increment comment '고객번호'
#  primary key,
#  username     varchar(100)               not null comment '고객아이디',//user_id
#  password     varchar(100)               not null comment '고객비밀번호',//user_pw
#  name   varchar(100)               not null comment '고객명',//user_name
#  user_phone  varchar(100)               null comment '고객휴대폰번호',
#  user_email  varchar(100)               null comment '고객이메일',
#  user_birth  date                       null comment '고객생년월일',
#  del_yn      varchar(1)  default 'N'    null comment '삭제여부',
#  roles        varchar(50) default 'user' null comment '권한',
#  reg_date    datetime                   null comment '가입일자',
#  end_date    datetime                   null comment '탈퇴일자',
#  provider    varchar(10)                null,
#  provider_id varchar(255)               null,
#  upload_path  varchar(200)               null comment '저장위치',
#  change_name varchar(200)               null comment '저장된 이름',
#  origin_name varchar(100)               null comment '원본명',
#  constraint user_id
#  unique (username)
#  )
#  comment '고객 테이블';
#
