<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.myboard.model.repository.JyUserRepository">
<!-- 회원가입 원본-->
    <insert id="insertNewUser" parameterType="jyUser">
        INSERT INTO jy_user
            (username, password, name, user_phone, user_email, user_birth, roles, reg_date)
        VALUES
            (#{username}, #{password}, #{name}, #{userPhone}, #{userEmail}, #{userBirth}, #{roles}, NOW())
    </insert>
<!--&lt;!&ndash;    회원가입 이미지 추가 &ndash;&gt;-->
<!--    <insert id="insertNewUser" parameterType="jyUser">-->
<!--        INSERT INTO jy_user-->
<!--        (username, password, name, user_phone, user_email, user_birth, roles, reg_date, uploadPath, change_name, origin_name)-->
<!--        VALUES-->
<!--            (#{username}, #{password}, #{name}, #{userPhone}, #{userEmail}, #{userBirth}, #{roles}, NOW(), #{uploadPath}, #{changeName}, #{originName})-->
<!--    </insert>-->

    <select id="checkId" parameterType="string" resultType="int">
        SELECT count(*)
        FROM   jy_user
        WHERE  user_id = #{userId}
    </select>

    <select id="checkEmail" parameterType="string" resultType="int">
        SELECT count(*)
        FROM jy_user
        WHERE user_email = #{userEmail}
    </select>

    <select id="selectUser" parameterType="string" resultType="jyUser">
        SELECT user_no,
               username,
               password,
               name,
               user_phone,
               user_email,
               DATE_FORMAT(user_birth, '%Y-%m-%d') AS user_birth,
               del_yn,
               roles,
               reg_date,
               end_date,
               provider,
               provider_id,
               upload_path,
               change_name,
               origin_name
        FROM   jy_user
        WHERE  username = #{username}
          AND  del_yn = 'N'
    </select>

<!--    소셜로그인시 회원등록-->
    <insert id="insertNewScUser" parameterType="jyUser">
        INSERT INTO jy_user
            (username, password,name, user_email , roles, reg_date)
        VALUES
            (#{username}, #{password},#{name},#{userEmail}, #{roles}, NOW())
    </insert>

<!--    소셜 로그인-->
    <select id="selectScUser" resultType="jyUser">
        SELECT username, name, password, user_email, roles, reg_date, provider,provider_id
        FROM   jy_user
        WHERE  username = #{username}
    </select>

<!--    아이디 찾기-->
    <select id="findId" resultType="string" parameterType="map">
        SELECT usernmae
        FROM   jy_user
        WHERE  name = #{name}
          AND  user_email = #{userEmail}
    </select>

<!--    회원정보 수정(마이페이지)-->
    <update id="updateUser" parameterType="jyUser">
        UPDATE jy_user
        SET   name = #{name},
               user_birth = #{userBirth},
               user_phone = #{userPhone},
               user_email = #{userEmail}
        WHERE  username = #{username}
    </update>
</mapper>